.main {
  display: grid;
  grid-template-areas: "overlay";
  max-width: 45rem;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  grid-area: overlay;
}
.restart {
  color: var(--color-grey-light-4);
  text-align: center;
  font-size: 2rem;
  &:hover {
    color: var(--color-grey-light-1);
  }
}

.button {
  border: transparent;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  letter-spacing: 0.75px;
}

.divider {
  width: 140%;
  height: 0.5rem;
  background-color: var(--color-grey-dark-1);
  box-shadow: var(--shadow-light);
  border-radius: 5px;
  grid-area: overlay;
  pointer-events: none;
  display: none;
  &__h1 {
    display: block;
    margin-top: 15%;
    transform: translateX(-15%);
  }
  &__h2 {
    display: block;
    margin-top: 49%;
    transform: translateX(-15%);
  }
  &__h3 {
    display: block;
    margin-top: 83%;
    transform: translateX(-15%);
  }
  &__v1 {
    display: block;
    transform: translateX(-39%) rotate(90deg);
    align-self: center;
  }
  &__v2 {
    display: block;
    transform: translateX(-15%) rotate(90deg);
    align-self: center;
  }
  &__v3 {
    display: block;
    transform: translateX(10%) rotate(90deg);
    align-self: center;
  }
  &__d1 {
    display: block;
    transform: translateX(-15%) rotate(45deg);
    align-self: center;
  }
  &__d2 {
    display: block;
    transform: translateX(-15%) rotate(135deg);
    align-self: center;
  }
}
