.circle {
  width: 75%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.5rem solid var(--color-grey-light-1);
  box-shadow: var(--shadow-light);
}

.small {
  width: 2rem;
  border: 0.3rem solid var(--color-grey-light-1);
}
